/* ESTILOS DE BODY */
body{
    background-color: rgb(151, 194, 167);
    color: rgb(53, 77, 62);
}

/* ESTILOS DE ASIDE */

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(179, 180, 184);
}
/* ESTILOS DE MENÚ */
nav{
    height: 10%;
    text-align: center;
    font-size: 15pt;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(53, 77, 62);
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color:  rgb(8, 134, 12);
    padding-bottom: 1%;
    padding-top: 1%;
    
}

.menu{
    padding-right: 2%;
    padding-left: 2%;
}


.menu a, a:link, a:visited, a:active{
    color: black;
    text-decoration: none;

}

.menu a,a:hover{
    color: rgb(8, 134, 12);
    text-decoration: none;
    font-weight: bolder;
    font-size: 16pt;
    transition: 0.7s;
}

/* ESTILOS DE SECTION */

section{
    background-color: rgb(139, 173, 150);
    padding-left: 1%;
}

section h2{
    color: black;
}

/* comentario nuevo */