
body{
    background-color: rgb(151, 194, 167);
    color: rgb(53, 77, 62);
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

nav{
    text-align: center;
    font-size: 13pt;
}

.menu{
    padding-right: 2%;
    padding-left: 2%;
}


.menu a, a:link, a:visited, a:active{
    color: black;
    text-decoration: none;

}

.menu a, a:hover{
    color: rgb(233, 190, 74);
    text-decoration: none;
    font-size: 14pt;
    transition: 0.5s;
}
