/* ESTILOS DE BODY */
body{
    background-color: rgb(151, 194, 167);
    color: rgb(53, 77, 62);
}

/* ESTILOS HEADER */

header{
    display: inline-block;
}

header h1{
    margin-left: 100px;
}

header a:link,a:active,a:visited,a:hover{
    color: rgb(53, 77, 62);
    text-decoration: none;
    
}

header img{
    margin-top: 1%;
    float: left;
    width: 10%;
}


/* ESTILOS DE ASIDE */

aside {
    width: 15%;
    height: 20%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 1.3%;
    margin-right: 5%;
    margin-top: 5%;
    float: right;
    font-style: italic;
    background-color: rgb(195, 196, 201);
    box-shadow: 10px 10px 10px   #666;

}
aside ul{
    padding-left: 10%;
}

aside ul li{
    margin-top: 5%;
}

aside a, aside a:link, aside a:active, aside a:visited{
    color: black;
    text-decoration: none;
}


aside a:hover{
    color: rgb(8, 134, 12);
    text-decoration: none;
    font-weight: bolder;
  
}


/* ESTILOS DE MENÚ */
nav{
    height: 10%;
    text-align: center;
    font-size: 15pt;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(53, 77, 62);
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color:  rgb(8, 134, 12);
    padding-bottom: 1%;
    padding-top: 1%;
    
}

.menu a{
    padding-right: 2%;
    padding-left: 2%;
}


.menu a,  .menu a:link, .menu a:visited, .menu a:active{
    color: black;
    text-decoration: none;

}

.menu a:hover{
    color: rgb(8, 134, 12);
    text-decoration: none;
    font-weight: bolder;
    font-size: 16pt;
    text-shadow: 10px 10px 10px   #666;
    transition: 0.7s;

}

/* ESTILOS DE SECTION */

section{
    background-color: rgb(139, 173, 150);
    padding: 3%;
    margin-top: 5%;
    width: 65%;
    margin-left: 5%;
    
    
}

section h2{
    color: black;
}

section article{
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 60%;
    background-color: rgb(171, 206, 182) ;
}

.img_art{
    
    background-color: transparent;
    padding: 0;
    margin-left: 3%;
    width: 30%;
    float: right;
    margin-top: 28%;
    margin-right: 3%;
}

.img_art img{
    width: 200px;
}

#img_css3 {
    width: 80px;
    margin-left: 24%;
}


/* ESTILOS FOOTER */

footer{
    padding-left: 1%;
    background-color: rgba(8, 134, 12, 0.774);
    height: 5%;
    display: block;
    margin-top: 3%;
    padding: 1%;
    text-align: center;
    color: black;
}

footer h4{
    color: black;
    font-weight: bolder;
    margin:0;
}
 
footer p{
    
    margin-right: 0;
} 


footer a, footer a:visited, footer a:visited{
    color: black;
    margin-left: 1%;
    text-decoration: none;
}

footer a:hover{
    font-weight: bold;
    color: rgb(231, 189, 74);
}

/* ESTILOS ESPÉCIFICOS DE LAS PÁGINAS HIJAS */


#html_artic{
    width: fit-content;
}

#lista_tags li a:link,a:active,a:visited{
    text-decoration: none;
}

#lista_tags li a:hover{
    text-decoration: underline;
}

#lista_tags li{
    list-style: square;
}


#tags_artic{
    width: fit-content;
    margin-top: 4%;
}